* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
}
:root {
   --text-color: #053c5e;
   --color-primary: #e69a3b;
   --color-secondary: #d93524;
   --color-light: #f9f3dc;
}

html {
   scroll-behavior: smooth;
}

body {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 50px;
   font-size: 1.2em;
   font-family: sans-serif;
   color: var(--text-color);
}
ul {
   list-style-type: none;
}

a {
   color: var(--text-color);
   white-space: nowrap;
}

h1 {
   font-size: 2em;
   /* margin-bottom: 2vh; */
}
.line {
   border: 1px solid var(--color-primary);
}

header {
   background-color: var(--color-primary)
}

.navigation {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 2vh;
}

.navigation > li > a {
   color: var(--color-light);
   padding: 2vh;
   font-size: 1.5em;
}

main {
   background-color: var(--color-light);
   padding: 2vh;
}

.section__title {
   padding: 5vh 0 2vh;
   text-align: center;
   font-size: 1.5em;
}

.home {
   display: flex;
   gap: 5vw;
}

.photo {
   width: 300px;  

}

.photo img {
   width: 100%;
   object-fit: contain;
   border-radius: 10px;
}

.home__text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.intro {
   margin-top: 5vh;
   text-align: justify;
}

.skills__container {
   display: flex;
   flex-wrap: wrap;
   padding-top: 2vh;
   justify-content: center;
   gap: 2vh;
}

.skill {
   padding: 2vh;
   white-space: nowrap;
   font-weight: 600;
   color: var(--color-light);
   background: var(--color-primary);
   border-radius: 20px;
   transition: all .3s ease;
}

.skill:hover {
   transform: scale(1.1);
}

.code__container {
   margin-top: 2vh;
   padding: 5vh;
   color: var(--color-light);
   background-color: var(--text-color);
   overflow-x: scroll;
}

.experience__container {
   padding: 2vh 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2vw;
}

.experience__card_title {
   color: var(--color-secondary);
   margin-bottom: 1vh;
}

.experience__card_link {
   font-weight: 600;
   margin-bottom: 1vh;
}

footer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   background-color:var(--color-primary);
   padding: 2vh;
}

.footer__link {
   display: flex;
   align-items: center;
   gap: 10px;
   transition: all .3s ease;
}

.footer__link:hover {
   transform: scale(1.1);
}